
$normal-blue: #39c;


html{
    font-family: FarnhamDisplay,serif;
    font-size: 1em;
    overflow-y: scroll;
    min-height: 100%;
    height: 100%;
}
button{
    -webkit-appearance: none;
    border: none;
    line-height: 0;
}
button:focus{
    outline: none;
}
button, input{
    text-align: left;
}

a{
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}
a:focus, a:visited{
    color: $normal-blue;
}

span{
    white-space: nowrap;
}